@use '../abstracts' as a;

.stack {
  display: flex;
  flex-direction: column;
}

.stack--sm {
  gap: a.$spacing-sm;
}

.stack--md {
  gap: a.$spacing-md;
}

.stack--lg {
  gap: a.$spacing-lg;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: a.$spacing-md;
}

.grid {
  display: grid;
  gap: a.$spacing-lg;
}

.grid--2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid--4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
